@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Frontend.Pages.Entidades.IndexModel
@{
}

<h1>Bienvenido Entidad Colaboradora @User.Identity.Name</h1>
<h4><a asp-page="DatosPersonalesVer" asp-route-userNameA="@User.Identity.Name">Ver Datos Personales</a></h4>
<h4><a asp-page="ServiciosEntidades" asp-route-userNameA="@User.Identity.Name">Servicios</a></h4>
